<h1>マイチャット一覧</h1>

<div>
  <%= link_to "購入者用チャット", chat_rooms_path(role: 'buyer'), class: "btn btn-outline-primary #{params[:role] == 'buyer' ? 'active' : ''}" %>
  <%= link_to "販売者用チャット", chat_rooms_path(role: 'seller'), class: "btn btn-outline-primary #{params[:role] == 'seller' ? 'active' : ''}" %>
</div>

<ul class="mt-3">
  <% @chat_rooms.each do |chat_room| %>
    <li class="mb-2">
      <% knowhow = chat_room.knowhow %>
      <%= link_to "チャットルーム ##{chat_room.id}", chat_room_path(chat_room) %>
      <% if params[:role] == 'buyer' %>
        - <%= chat_room.knowhow.title %>
      <% else %>
        - ノウハウ: <%= chat_room.knowhow.title %>
        <%= content_tag(:ul) do %>
          <% if knowhow.purchases.any? %>
            <% knowhow.purchases.each do |purchase| %>
              <%= content_tag(:li) do %>
                <%# FIXME: 購入したことが当事者以外に伝わってしまう問題を解決する %>
                購入者: <%= purchase.user.name.presence || purchase.user.email %>
              <% end %>
            <% end %>
          <% else %>
          （購入前チャット）
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </li>
</ul>
