<div id="chat-room" data-room-id="<%= @chat_room.id %>"></div>

<div id="messages">
  <%= render @messages %>
</div>

<%= form_with model: [@chat_room, Message.new], local: true do |f| %>
  <%= f.text_area :content, rows: 2 %>
  <%= f.submit "Send" %>
<% end %>
