<%= form_with model: @knowhow, local: true, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>

  <% if @knowhow.media_files.attached? %>
    <div>
      <p>既存のファイル:</p>
      <ul>
        <% @knowhow.media_files.each do |file| %>
          <li>
            <%= link_to file.filename, url_for(file), target: "_blank" %>
            <%= link_to '削除', delete_media_knowhow_path(@knowhow, file_id: file.id), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :media_files, "生成物（画像・動画・音声）追加アップロード" %><br>
    <%= f.file_field :media_files, multiple: true, direct_upload: true %>
  </div>

  <div>
    <%= f.submit "保存" %>
  </div>
<% end %>
